
body {
  justify-content: center;
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

/* Floating button styling */
#backToTop {
  font-size: 20px;
  background-color: white;
  color: black;
  width: 45px;
  height: 45px;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  border-radius: 8px;
  cursor: pointer;
  animation: bounce_513 1s infinite;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


@keyframes bounce_513 {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
/* Ensure the header and button are stacked vertically */
.header {
  color: #1b1b1b;
  display: flex;
  flex-direction: column; /* Stack header text and button vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  background-color: #1b1b1b17;
  padding-bottom: 50px; /* Add space for button */
}

.btncont {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 20px; /* Space between header and button */
}


.btncont::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btncont:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btncont:hover::before {
  width: 100%;
}

.btncont::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btncont:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
